.impresion
  font-size 11px
  .logo
    height 100px
  .cabezote
    font-size 11px
  .orden
    .datos-generales
      font-size 10px
    table
      td, th
        padding-top 0 !important
        padding-bottom 0 !important
        margin-top 0 !important
        margin-bottom 0 !important
      font-size 9px
    .campo
      border solid 1px black