.impresion {
  font-size: 11px;
}
.impresion .logo {
  height: 100px;
}
.impresion .cabezote {
  font-size: 11px;
}
.impresion .orden .datos-generales {
  font-size: 10px;
}
.impresion .orden table {
  font-size: 9px;
}
.impresion .orden table td,
.impresion .orden table th {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.impresion .orden .campo {
  border: solid 1px #000;
}
